@import "tailwindcss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-cinzel), serif;
  letter-spacing: 0.05em;

  background-color: hsl(101, 12%, 49%);

  color: #e7e7e7;
  min-height: 100vh;
  line-height: 1.5;
  overflow: hidden;
}

.title-fantasy {
  font-family: var(--font-cinzel), serif;
  letter-spacing: 0.05em;
}

.textarea-custom::-webkit-scrollbar {
  width: 8px;
}

.textarea-custom::-webkit-scrollbar-track {
  background: hsl(173, 39%, 62%);
  border-radius: 0 12px 12px 0;

  -webkit-border-radius: 0 12px 12px 0;
  -moz-border-radius: 0 12px 12px 0;
  -ms-border-radius: 0 12px 12px 0;
  -o-border-radius: 0 12px 12px 0;
}

.textarea-custom::-webkit-scrollbar-thumb {
  background-color: hsl(175, 37%, 38%);
  border-radius: 8px;
  border: 2px solid hsl(173, 39%, 62%);
  cursor: pointer;
}

.textarea-custom::-webkit-scrollbar-thumb:hover {
  background-color: hsl(176, 37%, 29%);
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
