@import "tailwindcss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-cinzel), serif;
  letter-spacing: 0.05em;

  background-color: hsl(101, 12%, 49%);

  color: #e7e7e7;
  min-height: 100vh;
  line-height: 1.5;
  overflow: hidden;
}

.title-fantasy {
  font-family: var(--font-cinzel), serif;
  letter-spacing: 0.05em;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

/* Gradient and Layer blur effect */
.image-gradient {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  z-index: -1;
}

.layer-wrapper {
  position: relative;
  margin: auto;
}
.glow-trapezium {
  background: linear-gradient(to top, rgba(0, 255, 255, 0.7), transparent 80%);
  filter: blur(80px);
  opacity: 0.9;
  -webkit-filter: blur(80px);
}

.glow-t {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.7),
    transparent 80%
  );
  filter: blur(80px);
  opacity: 0.9;
  -webkit-filter: blur(80px);
}

.layer-blur {
  width: 300px;
  height: 10px;
  background: #ffffff;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  position: relative;
  z-index: 1;
}

.layer-glow {
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 200px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.6), transparent);
  filter: blur(30px);
  clip-path: polygon(20% 100%, 80% 100%, 100% 0%, 0% 0%);
  z-index: 0;
}

.tag-box {
  position: relative;
  width: 18rem;
  height: 2.5rem;
  border-radius: 50px;
  background: linear-gradient(
    to right,
    #656565,
    #7f42a7,
    #6600c5,
    #5300a0,
    #757575,
    #656565
  );
  background-size: 200%;
  animation: animationGradient 2.5s linear infinite;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

@keyframes animationGradient {
  to {
    background-position: 200%;
  }
}

.tag:hover {
  color: #5300a0;
}
.tag {
  position: absolute;
  inset: 3px 3px 3px 3px;
  background-color: #0b1014;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  cursor: pointer;
}

.title {
  letter-spacing: 0.1em;
  line-height: 1.25;
  text-shadow: 0 0 10px rgba(128, 128, 128, 0.418);
}
/* ---------- */

.perspective {
  perspective: 1500px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

@keyframes rolling-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* =============================== */

.logo-wrapper {
  opacity: 0;
  animation-name: logo-intro;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.logo-inner {
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1);
  will-change: transform;
}

.logo {
  pointer-events: none;
  user-select: none;

  padding: 1rem;
}

/* Keyframes jatuh dari bawah + rotasi */
@keyframes logo-intro {
  0% {
    opacity: 0;
    transform: translateY(100vh) rotate(0deg) scale(0.7);
    -webkit-transform: translateY(100vh) rotate(0deg) scale(0.7);
    -moz-transform: translateY(100vh) rotate(0deg) scale(0.7);
    -ms-transform: translateY(100vh) rotate(0deg) scale(0.7);
    -o-transform: translateY(100vh) rotate(0deg) scale(0.7);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(360deg) scale(1);
  }
}

/* Tombol & circle effect */
.skills-button {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease-out;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.skills-circle {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transition: all 0.7s ease-out;
  z-index: 30;
}

@keyframes shakeY {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateY(-3px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateY(3px);
  }
}

.logo-shake {
  animation: shakeY 0.5s ease-in-out infinite;
}

.circle-wrapper {
  position: absolute;
  right: 20%;
  bottom: 15%;
  /*berisedikitekstraukuranagarbordertidakterpotong*/
  width: 630px;
  height: 630px;
  border-radius: 50%;
  background-color: #000000;
  /*Borderpertama*/
  border: 20px solid rgba(241, 240, 204, 0.5);
  /*Borderkeduadiluarborderpertama*/
  box-shadow: 0 0 0 10px rgba(241, 240, 204, 0.3);
  /*Pastikantidakterpotong*/
  overflow: visible;
}

.circle {
  width: 600px;
  /*ukuranlingkaranutama*/
  height: 600px;
  border-radius: 50%;
  margin: auto;
  /*centerdiwrapper*/
  background: linear-gradient(to bottom, #96ab7d, #f1f0cc);
}
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideLeft {
  animation: slideLeft 0.3s ease-out;
}

.textarea-custom::-webkit-scrollbar {
  width: 8px;
}

.textarea-custom::-webkit-scrollbar-track {
  background: hsl(173, 39%, 62%);
  border-radius: 0 12px 12px 0;

  -webkit-border-radius: 0 12px 12px 0;
  -moz-border-radius: 0 12px 12px 0;
  -ms-border-radius: 0 12px 12px 0;
  -o-border-radius: 0 12px 12px 0;
}

.textarea-custom::-webkit-scrollbar-thumb {
  background-color: hsl(175, 37%, 38%);
  border-radius: 8px;
  border: 2px solid hsl(173, 39%, 62%);
  cursor: pointer;
}

.textarea-custom::-webkit-scrollbar-thumb:hover {
  background-color: hsl(176, 37%, 29%);
}
